
@{
    ViewBag.Title = "Index";
}


<h2>Замена упаковки</h2>

<div>
    <div class="btn btn-success" onclick="Clear()"> Сбросить </div>
</div>

<div>
    <div>
        @Html.TextBox("TB", "", new { @style = "max-width:100%", @size = "500", @autofocus = "on", @placeholder = "Отсканируйте Сериый номер или номер платы, который необходимо удалить с упаковки", @onkeydown = "ScanSN(this)" })
    </div>

    <div class="ScanReplace" id="replace">
        @Html.TextBox("ScanReplace", "", new { @style = "max-width:100%", @size = "500", @autofocus = "on", @placeholder = "Отсканируйте номер платы или серийный номер, который хотите заменить", @onkeydown = "RpcF(this)" })
    </div>

    <div class="ScanReplace2" id="replace2">
        @Html.TextBox("ScanReplace2", "", new { @style = "max-width:100%", @size = "500", @autofocus = "on", @placeholder = "Отсканируйте второй номер, который хотите заменить", @onkeydown = "ReplaceSecond(value)" })
    </div>

    <div id="InfoPac">

    </div>

    <div id="Result">

    </div>




</div>

<div style="margin-top:5%;">
    @Html.ActionLink("Вернуться назад", "Index", "Home")
</div>

<style>
    div div {
        margin-top: 2%;
        font-size: 18px;
        color: black;
    }

    .ScanReplace {
        visibility: hidden;
    }

    .ScanReplace2 {
        visibility: hidden;
    }

    .ScanSN {
        visibility: hidden;
    }
</style>

<script>



    function ScanSN(obj) {
        if (event.keyCode == 13) {

            obj.setAttribute("readonly", "readonly");
            document.getElementById('Result').innerHTML = "";
            Checkpac(obj);
        };
    }

    function RpcF(obj) {
        if (event.keyCode == 13) {
            ReplaseFind(obj);
        };
    }

    function ReplaceSecond() {
        if (event.keyCode == 13) {
            SetReplace();
        };
    }

    function ReplaseFind(obj) {
            
        if (obj.value == document.getElementById('TB').value) {
            Check(); return;
        }

        var result = CheckSingle();

        if (result == "False") {
            alert('Данные по номеру не найдены');
            obj.value = '';
            return;
        }
        else if (result == "Pac") {
            alert('Плата упакована');
            obj.value = '';
            return;
        }
        else if (result == "True") {
            SetSingleReplace();
        }        
        else {
            obj.setAttribute("readonly", "readonly");
            GetTBScan(document.getElementById('replace2'), document.getElementById('ScanReplace2'));
        }

        function Check() {
            alert('Такой номер был отсканирован ранее');
            var _sc = document.getElementById('ScanReplace');
            _sc.value = '';
            _sc.focus();
        }
    }

    function Checkpac(obj) {
        $.ajax({

            url: '@Url.Action("Checkpac")',
            dataType: "json",
            data: { SN: obj.value},
            success: function (data) {

                if (data == "NoData") {
                    alert('Не найден номер в таблице Ct_FASSN_reg и LazerBase' + obj.value)
                    obj.value = '';
                    obj.removeAttribute("readonly");
                }
                else if (data == false) {
                    alert('Номер не упакован!' + obj.value)
                    obj.value = '';
                    obj.removeAttribute("readonly");
                }              
                else {
                     GetTBScan(document.getElementById('replace'), document.getElementById('ScanReplace'));
                     GetPacking(document.getElementById('ScanReplace'));
                     return;
                }


                //else if (data == "False") {
                //    //_tb.setAttribute("readonly", "readonly");
                //    SingleFalse(obj,scan);
                //}
                //else if (data == "True") {
                //    //_tb.setAttribute("readonly", "readonly");
                //    SetReplace2();
                //}
            },

            error: function (data) {
                alert(data)
            }

        });
    }

    function CheckSingle()  {
       let result = false;
       $.ajax({

           url: '@Url.Action("CheckSingle")',
           dataType: "json",
           data: { SNFirst: document.getElementById('TB').value, SN: document.getElementById('ScanReplace').value },
           async: false,
           success:  function (data) {
                result = data;
           }          
            
       })

        return result;
    }   

    function GetTBScan(div,tb) {
        div.style.visibility = "visible";
        tb.focus();
    }


    function SetReplace() {
        var obj = document.getElementById('ScanReplace2');
        $.ajax({
            url: '@Url.Action("SetReplace")',
            dataType: "json",
            data: {
                SN: $("#ScanReplace2").val(),
                FirstSN: $("#ScanReplace").val(),
                SNReplace: $("#TB").val(),
            },
            success: function (data) {

                if (data == "Dup") {
                    alert('Такой номер уже был отсканирован');
                    obj.value = '';
                    obj.focus();
                    return;
                }
                else if (data == "null") {
                    alert('Данные не найдены');
                    obj.value = '';
                    obj.focus();
                    return;
                }
                else if (data == "Lot") {
                    alert('Заказы не совпадают');
                    obj.value = '';
                    obj.focus();
                    return;
                }
                else if (data == "Pac") {
                    alert('Плата была упакована');
                    obj.value = '';
                    obj.focus();
                    return;
                }               

                Clear();
                GetResult();
                alert('Замена успешно выполнена')

            },
            error: function(data) {

            }

        })
    }

    function SetSingleReplace() {
        var obj = document.getElementById('ScanReplace');
        $.ajax({
            url: '@Url.Action("SetSingleReplace")',
            dataType: "json",
            data: {
                SN: $("#ScanReplace").val(),
                SNReplace: $("#TB").val(),
            },
            success: function (data) {

                if (data == "Dup") {
                    alert('Такой номер уже был отсканирован');
                    obj.value = '';
                    obj.focus();
                    return;
                }
                else if (data == "null") {
                    alert('Данные не найдены');
                    obj.value = '';
                    obj.focus();
                    return;
                }
                else if (data == "Pac") {
                    alert('Плата была упакована');
                    obj.value = '';
                    obj.focus();
                    return;
                }
                else if (data == "fake") {
                    alert('Номера не связаны');
                    obj.value = '';
                    obj.focus();
                    return;
                }

                Clear();
                GetResult();
                alert('Замена успешно выполнена')

            },
            error: function(data) {

            }

        })
    }

    function GetResult() {

        $.ajax({
            url: '@Url.Action("GetResult")',
            dataType: "html",
            success: function (data) {
                document.getElementById('Result').innerHTML = data;
            }
        });
    }

    function GetPacking(obj) {
         $.ajax({
                url: '@Url.Action("GetPacking")',
                dataType: "html",
                data: {
                    SN: $("#TB").val()
                },
                success: function (data) {
                    document.getElementById('InfoPac').innerHTML = data;
                    obj.focus();
                },
                error: function (err,e,t) {
                    document.getElementById('InfoPac').innerHTML = '<h2>  Возможно первый и второй номер совпадают или они не связаны или не найдены данные по упаковке  </h2>';

                }

            })
    }


    function Clear() {       

        var _replace1 = document.getElementById('replace');
        _replace1.style.visibility = "hidden";
        _replace1.value = '';

        var _replace2 = document.getElementById('replace2');
        document.getElementById('ScanReplace2').value = '';
        _replace2.style.visibility = "hidden";
        _replace2.value = '';

   

        var scanreplace = document.getElementById('ScanReplace');
        scanreplace.value = '';
        scanreplace.removeAttribute("readonly");

        var _tb = document.getElementById('TB');

        document.getElementById('InfoPac').innerHTML = "";
        document.getElementById('Result').innerHTML = "";

        _tb.value = '';
        _tb.removeAttribute("readonly");       
        _replace1.removeAttribute("readonly");

        _tb.focus();

    }


</script>