
@{
    ViewBag.Title = "Index";
}


<h2>Замена упаковки</h2>

<div>
    <div>
        @Html.TextBox("TB", "", new { @style = "max-width:100%", @size = "500", @autofocus = "on", @placeholder = "Отсканируйте Сериый номер или номер платы, который необходимо удалить с упаковки", @onkeydown = "ScanSN(value)" })
    </div>

    <div class="ScanSN" id="SN">
        @Html.TextBox("ScanSN", "", new { @style = "max-width:100%", @size = "500", @autofocus = "on", @placeholder = "Отсканируйте второй номер", @onkeydown = "SN(value)" })
    </div>

    <div id="InfoPac">

    </div>

    <div class="ScanReplace" id="replace">
        @Html.TextBox("ScanReplace", "", new { @style = "max-width:100%", @size = "500", @autofocus = "on", @placeholder = "Отсканируйте номер платы или серийный номер, который хотите заменить", @onkeydown = "ReplaceFirst(value)" })
    </div>


    <div class="ScanReplace2" id="replace2">
        @Html.TextBox("ScanReplace2", "", new { @style = "max-width:100%", @size = "500", @autofocus = "on", @placeholder = "Отсканируйте второй номер, который хотите заменить", @onkeydown = "ReplaceSecond(value)" })
    </div>

    <div id="Result">

    </div>

    <div>
        <div class="btn btn-success" onclick="Clear()"> Сбросить </div>
    </div>


</div>

<div style="margin-top:5%;">
    @Html.ActionLink("Вернуться назад", "Index", "Home")
</div>

<style>
    div div {
        margin-top:2%;
        font-size:18px;
        color:black;

    }

    .ScanReplace {
        visibility: hidden;
    }

    .ScanReplace2 {
        visibility: hidden;
    }

    .ScanSN {
        visibility: hidden;
    }
    

   </style>

<script>



    function ScanSN(value) {
        if (event.keyCode == 13) {
            FindSN(value);
        };
    }

    function SN() {
        if (event.keyCode == 13) {
            GetPacking();
        };
    }

    function ReplaceFirst(value) {
        if (event.keyCode == 13) {
            ReplaseFind(value);
        };
    }

    function ReplaceSecond() {
        if (event.keyCode == 13) {
            SetReplace();
        };
    }

    function FindSN(value) {
        Find(value, document.getElementById('TB'), document.getElementById('SN'), document.getElementById('ScanSN'));
    }

    function ReplaseFind(value) {

        if (value == document.getElementById('ScanSN').value) {
            Check(); return;
        }
        else if (value == document.getElementById('TB').value) {
            Check(); return;
        }

        Find(value, document.getElementById('ScanReplace'), document.getElementById('replace2'), document.getElementById('ScanReplace2'));

        function Check() {
            alert('Такой номер был отсканирован ранее');
            var _sc = document.getElementById('ScanReplace');
            _sc.value = '';
            _sc.focus();
        }
    }

    function Find(value,_tb,obj,scan) {
        $.ajax({
            url: '@Url.Action("FindSN")',
            dataType: "json",
            data: { SN: value },
            success: function (data) {

                //var _tb = document.getElementById('TB');

                if (data ==  "NoData") {
                    alert('Не найден номер в таблице Ct_FASSN_reg и LazerBase')
                    _tb.value = '';
                }
                else if (data == "NoPac") {
                    alert('Номер не упакован, нет данных в таблице Ct_PackingTable')
                    _tb.value = '';
                }
                else if (data == "NoSingle") {
                    alert('В LOTManagment не указана настройка SingleSN. Вернул NULL')
                    _tb.value = '';
                }
                else if (data == "False") {
                    _tb.setAttribute("readonly", "readonly");
                    SingleFalse(obj,scan);
                }
                else if (data == "True") {
                    _tb.setAttribute("readonly", "readonly");
                    SingleTrue();
                }
            },

            error: function (data) {
                alert(data)
            }

        });
    }


    function SingleTrue() {
        //var obj = document.getElementById('replace');
        //obj.style.visibility = "visible";
        ////GetPacking();
        //document.getElementById('ScanReplace').focus();
    }

    function SingleFalse(obj,scan) {
        obj.style.visibility = "visible";
        scan.focus();
    }


    function SetReplace() {
        var obj = document.getElementById('ScanReplace2');
        $.ajax({
            url: '@Url.Action("SetReplace")',
            dataType: "json",
            data: {
                SN: $("#ScanSN").val(),
                FirstSN: $("#TB").val(),
                SNReplace: $("#ScanReplace").val(),
            },
            success: function (data) {

                if (data == "Dup") {
                    alert('Такой номер уже был отсканирован');
                    obj.value = '';
                    obj.focus();
                }
                else if (data == "null") {
                    alert('Данные не найдены');
                    obj.value = '';
                    obj.focus();
                }
                else if (data == "fake") {
                    alert('Номера не связаны');
                    obj.value = '';
                    obj.focus();
                }

                alert('Замена успешно выполнена')
                Clear();

            },
            error: function(data) {

            }

        })
    }

    function GetPacking() {
         $.ajax({
                url: '@Url.Action("GetPacking")',
                dataType: "html",
                data: {
                    SN: $("#ScanSN").val(),
                    FirstSN: $("#TB").val()
                },
                success: function (data) {
                    document.getElementById('InfoPac').innerHTML = data;
                    document.getElementById('replace').style.visibility = "visible";
                    document.getElementById('ScanSN').setAttribute("readonly", "readonly");
                    document.getElementById('ScanReplace').focus();
                },
                error: function (err,e,t) {
                    document.getElementById('InfoPac').innerHTML = '<h2>  Возможно первый и второй номер совпадают или они не связаны или не найдены данные по упаковке  </h2>';
                    var _tb = document.getElementById('ScanSN');
                    _tb.value = '';
                    _tb.focus();
                }

            })
    }


    function Clear() {

        document.getElementById('SN').style.visibility = "hidden";

        var _replace1 = document.getElementById('replace');
        _replace1.style.visibility = "hidden";

        var _scan = document.getElementById('ScanSN');
        _scan.value = '';

        document.getElementById('ScanReplace').value = '';
        var _tb = document.getElementById('TB');
        document.getElementById('InfoPac').innerHTML = "";

        _tb.value = '';
        _tb.removeAttribute("readonly");
        _scan.removeAttribute("readonly");
        _replace1.removeAttribute("readonly");

        _tb.focus();

    }


</script>